doctype html  



html(lang='en')
 link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
 link(href="https://fonts.googleapis.com/css?family=Muli&effect=3d" rel="stylesheet")
 script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
 link(rel="stylesheet" href="/style.css")
 script(src="/client.js")  
 head
   title Night Coordinator
 body(class="bg-success" style={color: 'black', "font-family": "Muli"})
   center
     if userDetails
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Find a venue for tonight!
       p(id="demo")
       form()
         input(name="rad" autocomplete="off" id="place" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="Choose a type of place!")
         //br
         p Examples: "food", "restaurant", "bar", "ice cream"
         input(name="lat" autocomplete="off" id="lat" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Latitude")
         //br
         input(name="long" autocomplete="off" id="long" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Longitude")
         input(name="signed" autocomplete="off" value="true" id="sign" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Logged in?")
         //br
         input(type="submit" class="btn btn-success" style={"margin-top": '0.5%'})
       div(style={width: "15%", border: "1px solid black", "margin-top": "30px", "border-radius": "25px"})
         p(style={"margin-top": "15px"}) Current User: #{userDetails[2].username}
         p Profile Pic:
           img(src=userDetails[2].photos[0].value style={"margin-left": "10px"})
       br
       script.
         var name = "#{userDetails[2].username}";
         var venues = ["#{userDetails[1][0].name}","#{userDetails[1][1].name}","#{userDetails[1][2].name}","#{userDetails[1][3].name}","#{userDetails[1][4].name}"];
         $(document).ready(function(){
           $('.name').val(name);
           for(var i = 0; i < venues.length; i++){
             $('#venue'.concat(i.toString())).val(venues[i]);
             console.log(venues[i]);
           }
         });
         //$('#name1', '#name2', '#name3', '#name4', '#name5').val(name);
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{userDetails[1][0].name}
         h2 Address: #{userDetails[1][0].address}
         h3 Phone: #{userDetails[1][0].phone}
         form(action='/going')
           button(class="btn btn-success") I'm going!
           input(class="going name" name="name")
           input(class="going" id="venue0" name="venue")
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{userDetails[1][1].name}
         h2 Address: #{userDetails[1][1].address}
         h3 Phone: #{userDetails[1][1].phone}
         form(action='/going')
           button(class="btn btn-success") I'm going!
           input(class="going name" name="name")
           input(class="going" id="venue1" name="venue")
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{userDetails[1][2].name}
         h2 Address: #{userDetails[1][2].address}
         h3 Phone: #{userDetails[1][2].phone}
         form(action='/going')
           button(class="btn btn-success") I'm going!
           input(class="going name" name="name")
           input(class="going" id="venue2" name="venue")
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{userDetails[1][3].name}
         h2 Address: #{userDetails[1][3].address}
         h3 Phone: #{userDetails[1][3].phone}
         form(action='/going')
           button(class="btn btn-success") I'm going!
           input(class="going name" name="name")
           input(class="going" id="venue3" name="venue")
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{userDetails[1][4].name}
         h2 Address: #{userDetails[1][4].address}
         h3 Phone: #{userDetails[1][4].phone}
         form(action='/going')
           button(class="btn btn-success") I'm going!
           input(class="going name" name="name")
           input(class="going" id="venue4" name="venue")
     else if user
       script.
         var workflow = {
         name: '#{user.username}'
         };
         //$('#sign').val(workflow.name);
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Find a venue for tonight!
       p(id="demo")
       form()
         input(name="rad" autocomplete="off" id="place" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="Choose a type of place!")
         //br
         p Examples: "food", "restaurant", "bar", "ice cream"
         input(name="lat" autocomplete="off" id="lat" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Latitude")
         //br
         input(name="long" autocomplete="off" id="long" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Longitude")
         input(name="signed" autocomplete="off" value="true" id="sign" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Logged in?")
         //br
         input(type="submit" class="btn btn-success" style={"margin-top": '0.5%'})
       div(style={width: "15%", border: "1px solid black", "margin-top": "40px", "border-radius": "25px"})
         p(style={"margin-top": "15px",'font-weight': 'bold'}) Current User: #{user.username}
         p(style={'font-weight': 'bold'}) Profile Pic:
           img(src=user.photos[0].value style={"margin-left": "10px"})
       br
       div(id="going" class="well" style={width: '30%', 'border-radius': '25px', 'background-color': '#f4f4f4'})
         h1(style={'text-decoration': 'underline'}) Last Five Parties
         p(style={'font-weight': 'bold'}) Name: #{going[0].name}
         p(style={'font-weight': 'bold'}) Place: #{going[0].place}
         br
         p(style={'font-weight': 'bold'}) Name: #{going[1].name}
         p(style={'font-weight': 'bold'}) Place: #{going[1].place}
         br
         p(style={'font-weight': 'bold'}) Name: #{going[2].name}
         p(style={'font-weight': 'bold'}) Place: #{going[2].place}
         br
         p(style={'font-weight': 'bold'}) Name: #{going[2].name}
         p(style={'font-weight': 'bold'}) Place: #{going[2].place}
         br
         p(style={'font-weight': 'bold'}) Name: #{going[2].name}
         p(style={'font-weight': 'bold'}) Place: #{going[2].place}
     else if loadDetails
      center
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Find a venue for tonight!
       form()
         input(name="rad" autocomplete="off" id="place" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="Choose a type of place!")
         //br
         p Examples: "food", "restaurant", "bar", "ice cream"
         input(name="lat" autocomplete="off" id="lat" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Latitude")
         //br
         input(name="long" autocomplete="off" id="long" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Longitude")
         //br
         input(type="submit" class="btn btn-success" style={"margin-top": '0.5%'})
       a(href='/twitter/login' class="btn btn-primary" style={"margin-top": "20px"}) Login using Twitter!
         img(src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" style=({width: "20px"}))
       br
       p(id="coords")
       br
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{loadDetails[0].name}
         h2 Address: #{loadDetails[0].address}
         h3 Phone: #{loadDetails[0].phone}
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{loadDetails[1].name}
         h2 Address: #{loadDetails[1].address}
         h3 Phone: #{loadDetails[1].phone}
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{loadDetails[2].name}
         h2 Address: #{loadDetails[2].address}
         h3 Phone: #{loadDetails[2].phone}
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{loadDetails[3].name}
         h2 Address: #{loadDetails[3].address}
         h3 Phone: #{loadDetails[3].phone}
       div(class="well" style={width: '30%'})
         h1(style={'text-decoration': 'underline'}) #{loadDetails[4].name}
         h2 Address: #{loadDetails[4].address}
         h3 Phone: #{loadDetails[4].phone} 
     else
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Find a venue for tonight!
       center
       form()
         input(name="rad" autocomplete="off" id="place" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="Choose a type of place!")
         //br
         p Examples: "food", "restaurant", "bar", "ice cream"
         input(name="lat" autocomplete="off" id="lat" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Latitude")
         //br
         input(name="long" autocomplete="off" id="long" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px"} placeholder="Longitude")
         
         input(type="submit" class="btn btn-success" style={"margin-top": '0.5%'})
       a(href='/twitter/login' class="btn btn-primary" style={"margin-top": "20px"}) Login using Twitter!
         img(src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" style=({width: "20px"}))
       br
       p(id="coords")